<html>
  <head>
<title>Recent Updated Gems</title>
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>

<%= yield %>

<address>
  <a href="mailto:raimonster@gmail.com">Raimon Grau</a>
</address>
</body>
</html>
