<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Recent Updated Gems</a>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <% @gems.each do |gem| %>

      <div class="gem span6 thumbnails">
	<ul class="unstyled">
	  <li>
	    <span class="label label-info"> <%= gem["name"] %> </span>
	  </li>
	  <li class="muted">by <%= gem["authors"] %></li>
	  <li><%= gem["info"][0...150] %></li>
	</ul>
      </div>
    <% end %>
  </div>
</div>
